Package: monroe-sysevent
Version: 0.1.0
Section: devel
Priority: optional
Architecture: amd64
Maintainer: support@celerway.com
Description: Helper script to publish system events to metadata
Depends: python-zmq, python-simplejson
