Package: libubox
Version: 0.1.0
Section: devel
Priority: optional
Architecture: amd64
Maintainer: support@celerway.com
Vcs-Browser: https://github.com/MONROE-PROJECT/Utilities/tree/master/libubox
Vcs-Git: https://github.com/MONROE-PROJECT/Utilities.git
Description: libubox from the OpenWRT project, used for configuration handling
