Package: mf910-sms     
Version: 0.1.0
Section: devel
Priority: optional
Architecture: amd64
Depends: curl, sed, iproute2
Maintainer: support@celerway.com
Vcs-Browser: https://github.com/MONROE-PROJECT/Utilities/tree/master/mf910-sms      
Vcs-Git: https://github.com/MONROE-PROJECT/Utilities.git
Description: read and delete text messages from the MF910 control interface
