[Unit]
Description=Tuptime service

[Service]
Type=oneshot
User=root
RemainAfterExit=true
# update tuptime and /etc/bootcnt for data exporter
ExecStart=/bin/bash -c '/usr/bin/tuptime -x; /usr/bin/write-bootcnt'
ExecStop=/usr/bin/tuptime -xg

[Install]
WantedBy=basic.target
