[Install]
WantedBy=multi-user.target

[Unit]
Description=Ubus Daemon
After=network.target

[Service]
ExecStart=/sbin/ubusd
Type=simple
Restart=on-failure

StandardError=null
StandardOutput=null
