Package: wifimetadata-publisher
Version: 0.1.0
Section: devel
Priority: optional
Architecture: amd64
Depends: libzmq3 (>=4.0.5), wireless-tools (>=30~pre9-12+b1)
Installed-Size: 73
Maintainer: Jonas Karlsson <jonas.karlsson@kau.se>
Vcs-Browser: https://github.com/MONROE-PROJECT/Utilities
Vcs-Git: https://github.com/MONROE-PROJECT/Utilities.git
Description: Extract and publish wifi metadata over a zmq pubsub bus.

