[Install]
WantedBy=multi-user.target

[Unit]
Description=Metadata Timeloop
After=network.target

[Service]
ExecStart=/usr/bin/metadata-timeloop
Type=simple
Restart=on-failure

StandardError=null
StandardOutput=null
