[Install]
WantedBy=multi-user.target

[Unit]
Description=Metadata Exporter
After=network.target

[Service]
ExecStart=/usr/sbin/metadata-exporter -c /etc/metadata-exporter.conf

Type=simple
Restart=on-failure

StandardError=null
StandardOutput=null
