Package: ice-watchdog
Version: 0.1.0
Section: devel
Priority: optional
Architecture: amd64
Depends: usbutils
Maintainer: support@celerway.com
Vcs-Browser: https://github.com/MONROE-PROJECT/Utilities/tree/master/ice-watchdog
Vcs-Git: https://github.com/MONROE-PROJECT/Utilities.git
Description: Check for faulty ICE modems, and reboot once if detected.
